--
-- PostgreSQL database cluster dump
--

SET default_transaction_read_only = off;

SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;

--
-- Drop databases (except postgres and template1)
--





--
-- Drop roles
--

DROP ROLE postgres;


--
-- Roles
--

CREATE ROLE postgres;
ALTER ROLE postgres WITH SUPERUSER INHERIT CREATEROLE CREATEDB LOGIN REPLICATION BYPASSRLS PASSWORD 'SCRAM-SHA-256$4096:5ujg6DdNB5LxaxjIq9UcTw==$Mjprxi5QLyAKo085snNUXKamd2XboQiEMdFoOg6icyw=:bY0C5WVdD3GOb0WwniuU4l5HwYr30JsJtnJe1c4oh1o=';

--
-- User Configurations
--








--
-- Databases
--

--
-- Database "template1" dump
--

--
-- PostgreSQL database dump
--

-- Dumped from database version 17.0 (Debian 17.0-1.pgdg120+1)
-- Dumped by pg_dump version 17.0 (Debian 17.0-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

UPDATE pg_catalog.pg_database SET datistemplate = false WHERE datname = 'template1';
DROP DATABASE template1;
--
-- Name: template1; Type: DATABASE; Schema: -; Owner: postgres
--

CREATE DATABASE template1 WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE template1 OWNER TO postgres;

\connect template1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE template1; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON DATABASE template1 IS 'default template for new databases';


--
-- Name: template1; Type: DATABASE PROPERTIES; Schema: -; Owner: postgres
--

ALTER DATABASE template1 IS_TEMPLATE = true;


\connect template1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE template1; Type: ACL; Schema: -; Owner: postgres
--

REVOKE CONNECT,TEMPORARY ON DATABASE template1 FROM PUBLIC;
GRANT CONNECT ON DATABASE template1 TO PUBLIC;


--
-- PostgreSQL database dump complete
--

--
-- Database "postgres" dump
--

--
-- PostgreSQL database dump
--

-- Dumped from database version 17.0 (Debian 17.0-1.pgdg120+1)
-- Dumped by pg_dump version 17.0 (Debian 17.0-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

DROP DATABASE postgres;
--
-- Name: postgres; Type: DATABASE; Schema: -; Owner: postgres
--

CREATE DATABASE postgres WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE postgres OWNER TO postgres;

\connect postgres

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE postgres; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON DATABASE postgres IS 'default administrative connection database';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: bet_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.bet_status AS ENUM (
    'win',
    'lost',
    'in_progress'
);


ALTER TYPE public.bet_status OWNER TO postgres;

--
-- Name: coefficient_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.coefficient_type AS ENUM (
    'win_team1',
    'win_team2',
    'draw'
);


ALTER TYPE public.coefficient_type OWNER TO postgres;

--
-- Name: event_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.event_status AS ENUM (
    'scheduled',
    'in_progress',
    'completed'
);


ALTER TYPE public.event_status OWNER TO postgres;

--
-- Name: result_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.result_status AS ENUM (
    'win_team1',
    'win_team2',
    'draw',
    'in_progress'
);


ALTER TYPE public.result_status OWNER TO postgres;

--
-- Name: transaction_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.transaction_type AS ENUM (
    'deposit',
    'withdrawal'
);


ALTER TYPE public.transaction_type OWNER TO postgres;

--
-- Name: create_event_coefficients(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.create_event_coefficients() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

    begin

        insert into coefficient(id, event_id, type) values

            (uuid_generate_v4(), new.id, 'win_team1'),

            (uuid_generate_v4(), new.id, 'win_team2'),

            (uuid_generate_v4(), new.id, 'draw');

    return new;

    end;

    $$;


ALTER FUNCTION public.create_event_coefficients() OWNER TO postgres;

--
-- Name: make_bet(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.make_bet() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

begin

    begin

        insert into transaction

            values (uuid_generate_v4(), new.username, CURRENT_TIMESTAMP, new.amount, 'withdrawal');

    exception

        when others then

            raise exception '???????????? ?????? ?????????????? ???????????????? ?? ?????????????? transaction: %', sqlerrm;

    end;



    return new;

end;

$$;


ALTER FUNCTION public.make_bet() OWNER TO postgres;

--
-- Name: make_closed_bet_transactions(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.make_closed_bet_transactions() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

declare

    win_money numeric;

    win_coefficient uuid;

    coefficient_value numeric;

begin

    if new.status = 'win' then

        select amount, coefficient_id into win_money, win_coefficient

        from bet

        where bet.id = new.id;



        select value into coefficient_value from coefficient

            where win_coefficient = coefficient.id;



        win_money = win_money * coefficient_value;



        raise notice '% % %', win_money, coefficient_value, win_coefficient;

        

        

        insert into transaction

            values (uuid_generate_v4(), new.username, CURRENT_TIMESTAMP, win_money, 'deposit');

        

    end if;

    return new;

end;

$$;


ALTER FUNCTION public.make_closed_bet_transactions() OWNER TO postgres;

--
-- Name: on_update_event_status(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.on_update_event_status() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

    declare

        changed_event_id uuid;

        win_status result_status;

        win_coefficient_id uuid;

        coef_list uuid[];

    begin

        changed_event_id := new.id;

        win_status := new.result;



        select coefficient.id into win_coefficient_id from coefficient

            where cast(win_status as text) = cast(coefficient.type as text) and changed_event_id = coefficient.event_id;





        update bet set status = 'win'

            where bet.coefficient_id = win_coefficient_id;

         RAISE NOTICE 'This is a log message: %', win_coefficient_id;



        select array_agg(coefficient.id) into coef_list from coefficient

                    where changed_event_id = coefficient.event_id;

    raise notice 'list: %', coef_list;

        update bet set status = 'lost'

            where bet.coefficient_id in (

                select coefficient.id from coefficient

                    where changed_event_id = coefficient.event_id

                ) and status != 'win';

        return new;

    end;

    $$;


ALTER FUNCTION public.on_update_event_status() OWNER TO postgres;

--
-- Name: recalculate_coefficients(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.recalculate_coefficients() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

declare

    total_amount_team1 decimal(10, 2) := 0;

    total_amount_team2 decimal(10, 2) := 0;

    total_amount_draw decimal(10, 2) := 0;

    coeff_id uuid;

    v_event_id uuid;

    event_margin decimal(5, 2);

    probability_team1 decimal(5, 2) := 0;

    probability_team2 decimal(5, 2) := 0;

    probability_draw decimal(5, 2) := 0;

    new_value_team1 decimal(5, 2);

    new_value_team2 decimal(5, 2);

    new_value_draw decimal(5, 2);

    total_amount decimal(10, 2);

begin

    coeff_id := new.coefficient_id;

    select coefficient.event_id into v_event_id from coefficient where coefficient.id = coeff_id;



    select event.margin into event_margin

    from event

    where event.id = v_event_id;



    select coalesce(sum(amount), 0) into total_amount_team1

    from bet

    where bet.coefficient_id in (

        select coefficient.id

        from coefficient

        where coefficient.event_id = v_event_id

        and coefficient.type = 'win_team1'

    );



    select coalesce(sum(amount), 0) into total_amount_team2

    from bet

    where bet.coefficient_id in (

        select coefficient.id

        from coefficient

        where coefficient.event_id = v_event_id

        and coefficient.type = 'win_team2'

    );



    select coalesce(sum(amount), 0) into total_amount_draw

    from bet

    where bet.coefficient_id in (

        select coefficient.id

        from coefficient

        where coefficient.event_id = v_event_id

        and coefficient.type = 'draw'

    );



    total_amount := total_amount_team1 + total_amount_team2 + total_amount_draw;



    if total_amount > 0 then

        probability_team1 := total_amount_team1::decimal / total_amount;

        probability_team2 := total_amount_team2::decimal / total_amount;

        probability_draw := total_amount_draw::decimal / total_amount;

    end if;



    if total_amount_team1 = 0 then

        new_value_team1 := 10.00;

    else

        new_value_team1 := 1 / (probability_team1 * (1 + event_margin));

    end if;



    if total_amount_team2 = 0 then

        new_value_team2 := 10.00;

    else

        new_value_team2 := 1 / (probability_team2 * (1 + event_margin));

    end if;



    if total_amount_draw = 0 then

        new_value_draw := 10.00;

    else

        new_value_draw := 1 / (probability_draw * (1 + event_margin));

    end if;



    update coefficient set value = new_value_team1 where coefficient.event_id = v_event_id and coefficient.type = 'win_team1';

    update coefficient set value = new_value_team2 where coefficient.event_id = v_event_id and coefficient.type = 'win_team2';

    update coefficient set value = new_value_draw where coefficient.event_id = v_event_id and coefficient.type = 'draw';



    return new;

end;

$$;


ALTER FUNCTION public.recalculate_coefficients() OWNER TO postgres;

--
-- Name: recalculate_coefficients_on_delete(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.recalculate_coefficients_on_delete() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

declare

    total_amount_team1 decimal(10, 2) := 0;

    total_amount_team2 decimal(10, 2) := 0;

    total_amount_draw decimal(10, 2) := 0;

    coeff_id uuid;

    v_event_id uuid;

    event_margin decimal(5, 2);

    probability_team1 decimal(5, 2) := 0;

    probability_team2 decimal(5, 2) := 0;

    probability_draw decimal(5, 2) := 0;

    new_value_team1 decimal(5, 2);

    new_value_team2 decimal(5, 2);

    new_value_draw decimal(5, 2);

    total_amount decimal(10, 2);

begin

    raise notice 'Deleting bet with id %', old.id;



    if old.coefficient_id is null then

        raise notice 'coefficient id is null';

        return old; -- ╨╕╤Б╨║╨╗╤О╤З╨░╨╡╨╝ ╨╖╨░╨┐╨╕╤Б╨╕ ╤Б null ╨╖╨╜╨░╤З╨╡╨╜╨╕╨╡╨╝

    end if;



    coeff_id := old.coefficient_id;



    select coefficient.event_id into v_event_id from coefficient where coefficient.id = coeff_id;

    raise notice 'Event ID %', v_event_id;



    select event.margin into event_margin

    from event

    where event.id = v_event_id;

    raise notice 'Event Margin %', event_margin;



    select coalesce(sum(amount), 0) into total_amount_team1

    from bet

    where bet.coefficient_id in (

        select coefficient.id

        from coefficient

        where coefficient.event_id = v_event_id

        and coefficient.type = 'win_team1'

    );

    raise notice 'Total Amount Team1 %', total_amount_team1;



    select coalesce(sum(amount), 0) into total_amount_team2

    from bet

    where bet.coefficient_id in (

        select coefficient.id

        from coefficient

        where coefficient.event_id = v_event_id

        and coefficient.type = 'win_team2'

    );

    raise notice 'Total Amount Team2 %', total_amount_team2;



    select coalesce(sum(amount), 0) into total_amount_draw

    from bet

    where bet.coefficient_id in (

        select coefficient.id

        from coefficient

        where coefficient.event_id = v_event_id

        and coefficient.type = 'draw'

    );

    raise notice 'Total Amount Draw %', total_amount_draw;



    total_amount := total_amount_team1 + total_amount_team2 + total_amount_draw;

    raise notice 'Total Amount %', total_amount;



    if total_amount > 0 then

        probability_team1 := total_amount_team1::decimal / total_amount;

        probability_team2 := total_amount_team2::decimal / total_amount;

        probability_draw := total_amount_draw::decimal / total_amount;

        raise notice 'Probabilities - Team1: %, Team2: %, Draw: %', probability_team1, probability_team2, probability_draw;

    end if;



    if total_amount_team1 = 0 then

        new_value_team1 := 10.00;

    else

        new_value_team1 := 1 / (probability_team1 * (1 + event_margin));

    end if;



    if total_amount_team2 = 0 then

        new_value_team2 := 10.00;

    else

        new_value_team2 := 1 / (probability_team2 * (1 + event_margin));

    end if;



    if total_amount_draw = 0 then

        new_value_draw := 10.00;

    else

        new_value_draw := 1 / (probability_draw * (1 + event_margin));

    end if;



    if total_amount_team1 = 0 and total_amount_team2 = 0 and total_amount_draw = 0 then

        new_value_team1 := 1.00;

        new_value_team2 := 1.00;

        new_value_draw := 1.00;

    end if;



    raise notice 'New values - Team1: %, Team2: %, Draw: %', new_value_team1, new_value_team2, new_value_draw;



    update coefficient set value = new_value_team1 where coefficient.event_id = v_event_id and coefficient.type = 'win_team1';

    update coefficient set value = new_value_team2 where coefficient.event_id = v_event_id and coefficient.type = 'win_team2';

    update coefficient set value = new_value_draw where coefficient.event_id = v_event_id and coefficient.type = 'draw';



    return old;

end;

$$;


ALTER FUNCTION public.recalculate_coefficients_on_delete() OWNER TO postgres;

--
-- Name: update_user_balance(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_user_balance() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

declare

    balance_tmp decimal;

begin

    if (new.type = 'deposit') then

        update users set balance = balance + new.amount where username = new.username;

    elsif (new.type = 'withdrawal') then

        select balance into balance_tmp from users where username = new.username;

        if (balance_tmp < new.amount) then

            raise exception '???????????????????????? ?????????????? ???? ?????????? ?????? ????????????.';

        else

            update users set balance = balance - new.amount where username = new.username;

        end if;

    end if;

    return new;

end;

$$;


ALTER FUNCTION public.update_user_balance() OWNER TO postgres;

--
-- Name: validate_teams_sport_type(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.validate_teams_sport_type() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

declare

    sport1 varchar(50);

    sport2 varchar(50);

begin

    select sport into sport1 from team where id = new.team1_id;

    select sport into sport2 from team where id = new.team2_id;



    if sport1 != sport2 then

        raise exception 'Teams must be of the same sport type';

    end if;



    return new;

end;

$$;


ALTER FUNCTION public.validate_teams_sport_type() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: bet; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.bet (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    coefficient_id uuid NOT NULL,
    username character varying(50) NOT NULL,
    amount numeric(10,2) NOT NULL,
    status public.bet_status DEFAULT 'in_progress'::public.bet_status
);


ALTER TABLE public.bet OWNER TO postgres;

--
-- Name: coefficient; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.coefficient (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    event_id uuid NOT NULL,
    type public.coefficient_type NOT NULL,
    value numeric(5,2) DEFAULT 1 NOT NULL
);


ALTER TABLE public.coefficient OWNER TO postgres;

--
-- Name: event; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.event (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(100) NOT NULL,
    date_time timestamp without time zone NOT NULL,
    team1_id uuid,
    team2_id uuid,
    sport character varying(50) NOT NULL,
    result public.result_status DEFAULT 'in_progress'::public.result_status,
    margin numeric(5,2)
);


ALTER TABLE public.event OWNER TO postgres;

--
-- Name: team; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.team (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(100),
    country character varying(50),
    sport character varying(50) NOT NULL
);


ALTER TABLE public.team OWNER TO postgres;

--
-- Name: transaction; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.transaction (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    username character varying(50) NOT NULL,
    date_time timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    amount numeric(10,2) NOT NULL,
    type public.transaction_type NOT NULL
);


ALTER TABLE public.transaction OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    username character varying(50) NOT NULL,
    password character varying(255) NOT NULL,
    full_name character varying(100),
    birth_date date,
    email character varying(100),
    phone character varying(20),
    balance numeric(10,2),
    role character varying
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Data for Name: bet; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: coefficient; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: event; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: team; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: transaction; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: bet bet_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bet
    ADD CONSTRAINT bet_pkey PRIMARY KEY (id);


--
-- Name: coefficient coefficient_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.coefficient
    ADD CONSTRAINT coefficient_pkey PRIMARY KEY (id);


--
-- Name: users customer_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT customer_pkey PRIMARY KEY (username);


--
-- Name: event event_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.event
    ADD CONSTRAINT event_pkey PRIMARY KEY (id);


--
-- Name: team team_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.team
    ADD CONSTRAINT team_pkey PRIMARY KEY (id);


--
-- Name: transaction transaction_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transaction
    ADD CONSTRAINT transaction_pkey PRIMARY KEY (id);


--
-- Name: event add_coefficients; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER add_coefficients AFTER INSERT ON public.event FOR EACH ROW EXECUTE FUNCTION public.create_event_coefficients();


--
-- Name: transaction change_user_balance; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER change_user_balance BEFORE INSERT OR UPDATE ON public.transaction FOR EACH ROW EXECUTE FUNCTION public.update_user_balance();


--
-- Name: event check_sport_types; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER check_sport_types BEFORE INSERT OR UPDATE ON public.event FOR EACH ROW EXECUTE FUNCTION public.validate_teams_sport_type();


--
-- Name: bet closed_bet_transaction_trigger; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER closed_bet_transaction_trigger AFTER UPDATE OF status ON public.bet FOR EACH ROW EXECUTE FUNCTION public.make_closed_bet_transactions();


--
-- Name: bet delete_bet; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER delete_bet BEFORE DELETE ON public.bet FOR EACH ROW EXECUTE FUNCTION public.recalculate_coefficients_on_delete();


--
-- Name: bet on_create_bet; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER on_create_bet BEFORE INSERT ON public.bet FOR EACH ROW EXECUTE FUNCTION public.make_bet();


--
-- Name: bet recalculate_event_coefficients; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER recalculate_event_coefficients AFTER INSERT OR UPDATE ON public.bet FOR EACH ROW EXECUTE FUNCTION public.recalculate_coefficients();


--
-- Name: event update_event_status; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_event_status AFTER UPDATE OF result ON public.event FOR EACH ROW EXECUTE FUNCTION public.on_update_event_status();


--
-- Name: bet bet_coefficient_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bet
    ADD CONSTRAINT bet_coefficient_id_fkey FOREIGN KEY (coefficient_id) REFERENCES public.coefficient(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: bet bet_username_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bet
    ADD CONSTRAINT bet_username_fkey FOREIGN KEY (username) REFERENCES public.users(username) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: coefficient coefficient_event_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.coefficient
    ADD CONSTRAINT coefficient_event_id_fkey FOREIGN KEY (event_id) REFERENCES public.event(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: event event_team1_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.event
    ADD CONSTRAINT event_team1_id_fkey FOREIGN KEY (team1_id) REFERENCES public.team(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: event event_team2_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.event
    ADD CONSTRAINT event_team2_id_fkey FOREIGN KEY (team2_id) REFERENCES public.team(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: transaction transaction_username_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transaction
    ADD CONSTRAINT transaction_username_fkey FOREIGN KEY (username) REFERENCES public.users(username) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

--
-- PostgreSQL database cluster dump complete
--

