body {
    background-color: #9aceeb;
    width: 1500px;
    margin-left: 200px;
    margin-top: 50px;
}
h1, h2, h3, p, span , td {
    color: #09294a;
    font-family: Arial;
}
.info {
    background-color: #fafafa;
    color: black;
}
.block {
    text-align: center;
    font-size: 120%;
}
.navig, ul, ol {
    font-size: 120%;
    color: #09294a;
    font-family: Verdana;
}