body {
    background-color: #8abad4;
    margin: 0;
}
.main-body{
    width: 1500px;
    margin-left: 200px;
}
h1, h2, h3, p, span , td {
    color: #09294a;
    font-family: Arial;
}
.nav-div{
    background-color: #a9e1ff;
    padding: 20px;
}
.list-img{
    width: 20px;
    display: inline-block;
}
.nav-div nav > ul {
    display: flex;
    justify-content: center;
    font-family: Verdana;
    font-size: 120%;
    padding: 0;
    margin: 0 auto;
    width: 80%;
    list-style: none;
}
.nav-div nav > ul li {
    flex: 1;
    text-align: center;
    border-radius: 20px;
}
a{
    color: #09294a;
    text-decoration: none;
}
.submenu-par {
    position: relative; /* Родительский элемент */
}

.submenu {
    position: absolute; /* Подменю */
    top: 100%; /* Расположение под родительским элементом */
    height: 0;
    overflow: hidden;
    opacity: 0;
    padding: 0;
    transition: all 0.5s ease-in;
    z-index: 1; /* Убедитесь, что подменю отображается поверх других элементов */
}

.submenu li {
    background-color: #09294a;
    border-radius: 20px;
    list-style: none;
    padding: 10px;
    margin-top: 10px; /* Убедитесь, что элементы не перекрываются */
}

.submenu li a {
    color: #a9e1ff;
}

.submenu-par:hover .submenu {
    height: auto;
    overflow: visible;
    opacity: 1;
}

footer{
    background-color: #a9e1ff;
    font-size: 120%;
    font-family: Verdana;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}
img{
    border-radius: 20px;
}
.info {
    background-color: #a9e1ff;
    border-radius: 20px;
}
.block {
    background-color: #a9e1ff;
    font-size: 120%;
    font-family: Verdana;
    text-align: center;
    font-size: 120%;
    border-radius: 20px;
}
.form{
    background-color: #a9e1ff;
    color: #09294a;
    width: 700px;
    margin-left: auto; 
    margin-right: auto; 
    margin-top:100px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 120%;
    font-family: Verdana;
    border-radius: 20px;
}
.but, .field {
    font-size: 90%;
    color: #09294a;
    font-family: Verdana;
}